*.iml
*.idea
.gradle
*.keystore
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
keystore.properties
immuni_keystore.properties
icon.png
/app/google-services.json
/app.properties
/app/src/debug/res/values/endpoints.xml
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
node_modules
